section {
    padding: 5vh 5vw;
    width: 100%;
}

section h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--my-blue);
    font-weight: 700;
}

:root {
    --my-blue: #00327Aff;
}

@font-face {
    font-family: Varino;
    src: url("../fonts/varino/Varino\ Normal.otf") format("opentype");
}

@font-face {
    font-family: Centurion;
    src: url("../fonts/centurion/Centauri.otf") format("opentype");
}

/* HERO */
.hero {
    background-image: url('../img/chandu.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    animation: colorChange 1s;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
}

@keyframes colorChange {
    0% {
        background-color: rgb(0, 0, 0, 1);
    }
    25% {
        background-color: rgb(0, 0, 0, 0.875);
    }
    50% {
        background-color: rgb(0, 0, 0, 0.75);
    }
    75% {
        background-color: rgb(0, 0, 0, 0.625);
    }
    100% {
        background-color: rgb(0, 0, 0, 0.5);
    }
}

.hero .content {
    position: absolute;
    top: 65%;
    left: 32%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero .content {
        left: 5%;
    }
}

.hero .content q {
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    font-family: Centurion;
}

.hero .content p {
    margin-top: 25px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-family: 'Varino';
}


/* Info */

.info {
    /* background-color: #7AD7F0; */
    background-color: var(--my-blue);
    padding: 10vh 10vw;
}

.info .lift {
    background-color: #fff;
    padding: 5vh 5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.col-md-6 iframe {
    height: 400px;
    width: 100%;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}
.location .location-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--my-blue);
}
.location .location-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}
.location .location-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}
.location .location-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.location .location-item ul {
    padding-left: 20px;
}
.location .location-item ul li {
    padding-bottom: 10px;
}
.location .location-item:last-child {
    padding-bottom: 0;
}
.location .location-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

.location-title i {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(90deg);
    }
}

/* Skills */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-item {
    background-color: var(--my-blue);
    color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 200px;
}

/* Resume */
.resume {
    height: 100vh;
    color: #fff;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .resume {
        margin-bottom: 100vh;
    }
}

.resume-item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: saturation;
    height: 100%;
    text-align: center;
}
.resume-item:first-child {
    background-image: url('../img/professional.jpeg');
}
.resume-item:last-child {
    background-image: url('../img/honest.jpeg');
}

.resume-item .resume-data {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 40%;
    z-index: 1;
}

.resume-item .resume-data h6 {
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    font-size: 1.1rem;
    padding: 10px 20px;
}

.resume-item .resume-data h3 {
    color: #fff;
}

.resume-item #honest-view {
    display: none;
}

/* Filters */
.filters {
    min-height: 100vh;
}

.filters .row {
    height: 100%;
}

.filter-item {
    height: 70%;
}
.filter-item img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.filter-item:hover {
    position: relative;
    top: -20px;
    height: 80%;
}

.filter-item video {
    display: none;
    height: 100%;
    width: 100%;
    box-shadow: 0px 30px 50px -15px #111;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .filter-item {
        width: 50%;
        height: 50%;
    }
}

/* Favorites */
.season_tabs {
    position: relative;   
    min-height: 360px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .season_tab {
    float: left;  
    clear: both;
    width: 150px;
  }
  .season_tab label {
      background: #eee;
      padding: 10px;
      border: 1px solid #ccc;
      margin-left: -1px;
      font-size: 21px;
      vertical-align: middle;
      position: relative;
      left: 1px;
      width: 264px;
      height: 70px;
      display: table-cell;
  }
  .season_tab [type=radio] {
    display: none;   
  }
  .season_content {
    position: absolute;
    top: 0;
    left: 150px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
   }
  .season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 2px solid #8bc34a;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .season_content {
    z-index: 1;
  }

/* Favorites */
.favs {
    background-color: orange;
}

.favs>div {
    background-color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    color: orangered;
    padding: 5vh 2vw;
}

.favs .icons {
    display: flex;
    justify-content: space-evenly;
}

.favs .fav-icon {
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 11px 20px;
}

.favs .fav-icon.active {
    background-color: orangered;
    border-radius: 30px;
    color: #fff;
    transition: 1s;
}

.fav-content {
    color: #444;
    display: none;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .favs .fav-icon {
        padding: 11px 10px;
    }
}

/* Footer */
